/* Prevent content from being hidden under the fixed AppBar */
body {
  margin: 0;
  padding-top: 120px; /* adjusts for AppBar height; change to 56px if needed on mobile */
}
.parallax-background {
  background: linear-gradient(135deg, #d5d5d5 0%, #fefefe 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parallax-gradient {
  background-image: url("../src/assets/components/images/gradient.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
